# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# MacOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp

# Project specific (Generated data and reports)
*_crawl_data.json
*_crawl_data.csv
*_crawl_report.html
*_sitemap.json
*_sitemap.csv
*_sitemap_report.html
